# **10. Veri TabanÄ± Ä°ÅŸlemleri (SQLite)**

# **10.1 SQLite Nedir?**

**SQLite**, dosya tabanlÄ±, hafif ve sunucu gerektirmeyen bir veri tabanÄ± sistemidir.

## Neden SQLite?

| Ã–zellik | AÃ§Ä±klama |
|---------|----------|
| **Hafif** | Kurulum gerektirmez |
| **TaÅŸÄ±nabilir** | Tek dosyada saklanÄ±r (.db) |
| **Entegre** | Python'da `sqlite3` modÃ¼lÃ¼ ile hazÄ±r |
| **SQL Uyumlu** | Standart SQL sorgularÄ± |

## Temel Kavramlar

| Kavram | AÃ§Ä±klama |
|--------|----------|
| **Veri TabanÄ± (Database)** | Verilerin saklandÄ±ÄŸÄ± dosya |
| **Tablo (Table)** | Verilerin organize edildiÄŸi yapÄ± |
| **SatÄ±r (Row)** | Bir kayÄ±t |
| **SÃ¼tun (Column)** | Bir alan/nitelik |
| **SQL** | Sorgulama dili |

---

---

---

# **10.2 Veri TabanÄ± BaÄŸlantÄ±sÄ±**

`sqlite3.connect()` ile veri tabanÄ±na baÄŸlanÄ±lÄ±r. Dosya yoksa otomatik oluÅŸturulur.

```python
import sqlite3
vt = sqlite3.connect('veritabani.db')  # BaÄŸlantÄ±
im = vt.cursor()                        # Ä°mleÃ§ (cursor)
# Ä°ÅŸlemler...
vt.commit()                             # DeÄŸiÅŸiklikleri kaydet
vt.close()                              # BaÄŸlantÄ±yÄ± kapat
```

In [ ]:
# sqlite3 modÃ¼lÃ¼nÃ¼ import et
# Python'Ä±n standart kÃ¼tÃ¼phanesinde hazÄ±r gelir

import sqlite3

# Veri tabanÄ± baÄŸlantÄ±sÄ± oluÅŸtur
# Dosya yoksa otomatik oluÅŸturulur
vt = sqlite3.connect('ornek.db')  # ornek.db dosyasÄ±

# Ä°mleÃ§ (cursor) oluÅŸtur
# SQL komutlarÄ±nÄ± Ã§alÄ±ÅŸtÄ±rmak iÃ§in kullanÄ±lÄ±r
im = vt.cursor()

print("Veri tabanÄ±na baÄŸlandÄ±!")
print(f"BaÄŸlantÄ± tipi: {type(vt)}")
print(f"Ä°mleÃ§ tipi: {type(im)}")

---

---

---

# **10.3 Tablo OluÅŸturma (CREATE TABLE)**

`CREATE TABLE` komutu ile tablo oluÅŸturulur.

## Veri Tipleri

| SQLite Tipi | Python KarÅŸÄ±lÄ±ÄŸÄ± |
|-------------|------------------|
| `INTEGER` | `int` |
| `REAL` | `float` |
| `TEXT` | `str` |
| `BLOB` | `bytes` |
| `NULL` | `None` |

In [ ]:
# Tablo oluÅŸturma
# IF NOT EXISTS: Tablo varsa hata vermez

# SQL komutu - Ã§ok satÄ±rlÄ± string
sql_tablo = """
CREATE TABLE IF NOT EXISTS personel (
    no INTEGER PRIMARY KEY,
    isim TEXT NOT NULL,
    statu TEXT,
    yas INTEGER,
    maas REAL
)
"""

# execute() ile SQL komutunu Ã§alÄ±ÅŸtÄ±r
im.execute(sql_tablo)

# commit() ile deÄŸiÅŸiklikleri kalÄ±cÄ± yap
vt.commit()

print("'personel' tablosu oluÅŸturuldu!")

In [ ]:
# Tablo yapÄ±sÄ±nÄ± gÃ¶rÃ¼ntÃ¼leme
# pragma table_info ile sÃ¼tun bilgileri alÄ±nÄ±r

im.execute("PRAGMA table_info(personel)")
sutunlar = im.fetchall()

print("=== personel Tablo YapÄ±sÄ± ===")
print(f"{'SÃ¼tun':<10} {'Tip':<10} {'Null?':<8} {'PK':<5}")
print("-" * 35)
for sutun in sutunlar:
    # sutun: (id, name, type, notnull, default, pk)
    print(f"{sutun[1]:<10} {sutun[2]:<10} {'No' if sutun[3] else 'Yes':<8} {'Evet' if sutun[5] else '-':<5}")

---

---

---

# **10.4 Veri Ekleme (INSERT)**

`INSERT INTO` komutu ile veri eklenir.

## GÃ¼venli Parametre KullanÄ±mÄ±

SQL Injection saldÄ±rÄ±larÄ±na karÅŸÄ± **parametreli sorgular** kullanÄ±n:

```python
# GEÃ‡ERSÄ°Z: String birleÅŸtirme (tehlikeli!)
im.execute(f"INSERT INTO tablo VALUES ({deger})")

# GEÃ‡ERLÄ°: Parametreli (gÃ¼venli)
im.execute("INSERT INTO tablo VALUES (?)", (deger,))
```

In [ ]:
# Tek kayÄ±t ekleme
# Parametreli sorgu: ? ile yer tutucu kullan

# Veriler
no = 1
isim = "ZÃ¼ber"
statu = "MÃ¼dÃ¼r"
yas = 46
maas = 50000.0

# Parametreli INSERT
sql = "INSERT INTO personel (no, isim, statu, yas, maas) VALUES (?, ?, ?, ?, ?)"
im.execute(sql, (no, isim, statu, yas, maas))  # Tuple olarak geÃ§

vt.commit()
print(f"'{isim}' eklendi!")

In [ ]:
# Ã‡oklu kayÄ±t ekleme - executemany()
# Liste iÃ§inde tuple'lar

veriler = [
    (2, "Uygar", "MÃ¼hendis", 21, 35000.0),
    (3, "Ä°dil", "Doktor", 25, 45000.0),
    (4, "Ali", "Teknisyen", 30, 25000.0),
    (5, "AyÅŸe", "Analist", 28, 38000.0)
]

sql = "INSERT INTO personel (no, isim, statu, yas, maas) VALUES (?, ?, ?, ?, ?)"

# executemany() ile toplu ekleme
im.executemany(sql, veriler)

vt.commit()
print(f"{len(veriler)} kayÄ±t eklendi!")

---

---

---

# **10.5 Veri Okuma (SELECT)**

`SELECT` komutu ile veri sorgulanÄ±r.

## Veri Alma MetotlarÄ±

| Metot | AÃ§Ä±klama |
|-------|----------|
| `fetchone()` | Tek satÄ±r dÃ¶ndÃ¼r |
| `fetchall()` | TÃ¼m satÄ±rlarÄ± dÃ¶ndÃ¼r |
| `fetchmany(n)` | n satÄ±r dÃ¶ndÃ¼r |

In [ ]:
# TÃ¼m verileri seÃ§ - SELECT *
# * tÃ¼m sÃ¼tunlarÄ± seÃ§er

im.execute("SELECT * FROM personel")

# fetchall() tÃ¼m sonuÃ§larÄ± liste olarak dÃ¶ndÃ¼rÃ¼r
veriler = im.fetchall()

print("=== TÃ¼m Personel ===")
print(f"{'No':<5} {'Ä°sim':<10} {'StatÃ¼':<12} {'YaÅŸ':<5} {'MaaÅŸ':<10}")
print("-" * 45)

for veri in veriler:
    # veri: (no, isim, statu, yas, maas)
    print(f"{veri[0]:<5} {veri[1]:<10} {veri[2]:<12} {veri[3]:<5} {veri[4]:<10.2f}")

In [ ]:
# KoÅŸullu seÃ§im - WHERE
# Belirli kriterlere gÃ¶re filtrele

# 30 yaÅŸ altÄ± personel
im.execute("SELECT isim, yas, statu FROM personel WHERE yas < 30")
gencler = im.fetchall()

print("=== 30 YaÅŸ AltÄ± Personel ===")
for p in gencler:
    print(f"  {p[0]} - {p[1]} yaÅŸÄ±nda - {p[2]}")

print()

# MaaÅŸÄ± 40000 Ã¼stÃ¼ personel
im.execute("SELECT isim, maas FROM personel WHERE maas > 40000")
yuksek_maas = im.fetchall()

print("=== YÃ¼ksek MaaÅŸlÄ± Personel ===")
for p in yuksek_maas:
    print(f"  {p[0]} - {p[1]:,.2f} TL")

In [ ]:
# SÄ±ralama ve limit - ORDER BY, LIMIT
# SonuÃ§larÄ± sÄ±rala ve sÄ±nÄ±rla

# MaaÅŸa gÃ¶re azalan sÄ±rada ilk 3
im.execute("""
    SELECT isim, statu, maas 
    FROM personel 
    ORDER BY maas DESC 
    LIMIT 3
""")

en_yuksek = im.fetchall()

print("=== En YÃ¼ksek MaaÅŸlÄ± 3 KiÅŸi ===")
for i, p in enumerate(en_yuksek, 1):
    print(f"  {i}. {p[0]} ({p[1]}) - {p[2]:,.2f} TL")

In [ ]:
# Gruplama ve fonksiyonlar - GROUP BY, COUNT, AVG, SUM
# Ä°statistiksel sorgular

# Toplam personel sayÄ±sÄ±
im.execute("SELECT COUNT(*) FROM personel")
toplam = im.fetchone()[0]
print(f"Toplam personel: {toplam}")

# Ortalama maaÅŸ
im.execute("SELECT AVG(maas) FROM personel")
ortalama = im.fetchone()[0]
print(f"Ortalama maaÅŸ: {ortalama:,.2f} TL")

# Toplam maaÅŸ
im.execute("SELECT SUM(maas) FROM personel")
toplam_maas = im.fetchone()[0]
print(f"Toplam maaÅŸ: {toplam_maas:,.2f} TL")

# En dÃ¼ÅŸÃ¼k ve en yÃ¼ksek yaÅŸ
im.execute("SELECT MIN(yas), MAX(yas) FROM personel")
yas_araligi = im.fetchone()
print(f"YaÅŸ aralÄ±ÄŸÄ±: {yas_araligi[0]} - {yas_araligi[1]}")

---

---

---

# **10.6 Veri GÃ¼ncelleme (UPDATE)**

`UPDATE` komutu ile mevcut veriler deÄŸiÅŸtirilir.

```sql
UPDATE tablo SET sutun = deger WHERE kosul
```

**DÄ°KKAT**: `WHERE` olmadan tÃ¼m satÄ±rlar gÃ¼ncellenir!

In [ ]:
# Tek kayÄ±t gÃ¼ncelleme
# WHERE koÅŸulu Ã¶nemli!

# ZÃ¼ber'in maaÅŸÄ±nÄ± gÃ¼ncelle
yeni_maas = 55000.0
personel_no = 1

im.execute("""
    UPDATE personel 
    SET maas = ? 
    WHERE no = ?
""", (yeni_maas, personel_no))

vt.commit()

# rowcount: etkilenen satÄ±r sayÄ±sÄ±
print(f"{im.rowcount} kayÄ±t gÃ¼ncellendi!")

# KontrolÃ¼: GÃ¼ncel veriyi gÃ¶ster
im.execute("SELECT * FROM personel WHERE no = ?", (personel_no,))
print(f"GÃ¼ncel kayÄ±t: {im.fetchone()}")

In [ ]:
# Birden fazla alan gÃ¼ncelleme
# SET sutun1 = deger1, sutun2 = deger2

# Uygar'Ä±n statÃ¼sÃ¼nÃ¼ ve maaÅŸÄ±nÄ± gÃ¼ncelle
im.execute("""
    UPDATE personel 
    SET statu = ?, maas = ? 
    WHERE isim = ?
""", ("KÄ±demli MÃ¼hendis", 42000.0, "Uygar"))

vt.commit()
print(f"{im.rowcount} kayÄ±t gÃ¼ncellendi!")

# KontrolÃ¼
im.execute("SELECT * FROM personel WHERE isim = 'Uygar'")
print(f"GÃ¼ncel kayÄ±t: {im.fetchone()}")

---

---

---

# **10.7 Veri Silme (DELETE)**

`DELETE FROM` komutu ile kayÄ±t silinir.

```sql
DELETE FROM tablo WHERE kosul
```

**DÄ°KKAT**: `WHERE` olmadan tÃ¼m veriler silinir!

In [ ]:
# Tek kayÄ±t silme
# WHERE koÅŸulu zorunlu!

# Ali'yi sil
im.execute("DELETE FROM personel WHERE isim = ?", ("Ali",))

vt.commit()
print(f"{im.rowcount} kayÄ±t silindi!")

# Kalan kayÄ±tlarÄ± gÃ¶ster
im.execute("SELECT no, isim FROM personel")
print(f"\nKalan personel: {im.fetchall()}")

---

---

---

# **10.8 with Ä°fadesi ile GÃ¼venli KullanÄ±m**

`with` ifadesi baÄŸlantÄ±yÄ± **otomatik kapatÄ±r** ve **hata durumunda rollback** yapar.

```python
with sqlite3.connect('vt.db') as baglanti:
    im = baglanti.cursor()
    # Ä°ÅŸlemler...
# Otomatik commit ve close
```

In [ ]:
# with ifadesi ile gÃ¼venli kullanÄ±m
# BaÄŸlantÄ± otomatik kapanÄ±r, hata durumunda rollback olur

with sqlite3.connect('ornek.db') as vt:
    im = vt.cursor()
    
    # TÃ¼m personeli listele
    im.execute("SELECT * FROM personel")
    veriler = im.fetchall()
    
    print("=== Personel Listesi (with ile) ===")
    for veri in veriler:
        print(f"  {veri}")

# Blok dÄ±ÅŸÄ±na Ã§Ä±kÄ±nca baÄŸlantÄ± otomatik kapandÄ±!
print("\nBaÄŸlantÄ± otomatik kapandÄ±.")

---

---

---

# **10.9 Pratik Ã–rnekler**

In [ ]:
# Pratik Ã–rnek 1: ÃœrÃ¼n YÃ¶netim Sistemi
# CRUD iÅŸlemleri iÃ§eren basit bir sistem

class UrunYonetimi:
    """ÃœrÃ¼n yÃ¶netim sistemi."""
    
    def __init__(self, db_dosya):
        """Veri tabanÄ± baÄŸlantÄ±sÄ± ve tablo oluÅŸtur."""
        self.db_dosya = db_dosya
        self._tablo_olustur()
    
    def _tablo_olustur(self):
        """ÃœrÃ¼nler tablosunu oluÅŸtur."""
        with sqlite3.connect(self.db_dosya) as vt:
            vt.execute("""
                CREATE TABLE IF NOT EXISTS urunler (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    barkod TEXT UNIQUE NOT NULL,
                    isim TEXT NOT NULL,
                    fiyat REAL NOT NULL,
                    stok INTEGER DEFAULT 0
                )
            """)
    
    def urun_ekle(self, barkod, isim, fiyat, stok=0):
        """Yeni Ã¼rÃ¼n ekle."""
        try:
            with sqlite3.connect(self.db_dosya) as vt:
                vt.execute(
                    "INSERT INTO urunler (barkod, isim, fiyat, stok) VALUES (?, ?, ?, ?)",
                    (barkod, isim, fiyat, stok)
                )
            print(f"'{isim}' eklendi!")
            return True
        except sqlite3.IntegrityError:
            print(f"Hata: Bu barkod zaten kayÄ±tlÄ±!")
            return False
    
    def urunleri_listele(self):
        """TÃ¼m Ã¼rÃ¼nleri listele."""
        with sqlite3.connect(self.db_dosya) as vt:
            im = vt.execute("SELECT * FROM urunler")
            urunler = im.fetchall()
            
        print("\n=== ÃœrÃ¼n Listesi ===")
        print(f"{'ID':<4} {'Barkod':<12} {'Ä°sim':<15} {'Fiyat':<10} {'Stok':<5}")
        print("-" * 50)
        for u in urunler:
            print(f"{u[0]:<4} {u[1]:<12} {u[2]:<15} {u[3]:<10.2f} {u[4]:<5}")
    
    def stok_guncelle(self, barkod, miktar):
        """Stok miktarÄ±nÄ± gÃ¼ncelle."""
        with sqlite3.connect(self.db_dosya) as vt:
            vt.execute(
                "UPDATE urunler SET stok = stok + ? WHERE barkod = ?",
                (miktar, barkod)
            )
        print(f"Stok gÃ¼ncellendi: {miktar:+d} adet")

# Test
uy = UrunYonetimi('magaza.db')

uy.urun_ekle("1234567890", "Kalem", 12.50, 100)
uy.urun_ekle("0987654321", "Defter", 25.00, 50)
uy.urun_ekle("1111111111", "Silgi", 5.00, 200)

uy.urunleri_listele()

print("\nStok gÃ¼ncelleme:")
uy.stok_guncelle("1234567890", -10)  # 10 adet satÄ±ÅŸ
uy.urunleri_listele()

In [ ]:
# Pratik Ã–rnek 2: Not Defteri UygulamasÄ±
# Tarih damgalÄ± notlar

from datetime import datetime

def not_defteri_olustur():
    """Not tablosu oluÅŸtur."""
    with sqlite3.connect('notlar.db') as vt:
        vt.execute("""
            CREATE TABLE IF NOT EXISTS notlar (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                baslik TEXT NOT NULL,
                icerik TEXT,
                tarih TEXT DEFAULT CURRENT_TIMESTAMP
            )
        """)

def not_ekle(baslik, icerik):
    """Yeni not ekle."""
    with sqlite3.connect('notlar.db') as vt:
        vt.execute(
            "INSERT INTO notlar (baslik, icerik) VALUES (?, ?)",
            (baslik, icerik)
        )
    print(f"Not eklendi: {baslik}")

def notlari_listele():
    """TÃ¼m notlarÄ± listele."""
    with sqlite3.connect('notlar.db') as vt:
        im = vt.execute("SELECT * FROM notlar ORDER BY tarih DESC")
        notlar = im.fetchall()
        
    print("\n=== NotlarÄ±m ===")
    for n in notlar:
        print(f"\n[{n[0]}] {n[1]}")
        print(f"    {n[2]}")
        print(f"    Tarih: {n[3]}")

# Test
not_defteri_olustur()

not_ekle("Python Ã–ÄŸreniyorum", "BugÃ¼n SQLite veritabanÄ± iÅŸlemlerini Ã¶ÄŸrendim.")
not_ekle("AlÄ±ÅŸveriÅŸ Listesi", "Ekmek, sÃ¼t, yumurta almayÄ± unutma!")
not_ekle("ToplantÄ± Notu", "Pazartesi saat 10:00'da proje toplantÄ±sÄ±.")

notlari_listele()

In [ ]:
# Veri tabanÄ± baÄŸlantÄ±sÄ±nÄ± kapat
# (EÄŸer hala aÃ§Ä±ksa)

try:
    vt.close()
    print("Veri tabanÄ± baÄŸlantÄ±sÄ± kapatÄ±ldÄ±.")
except:
    print("BaÄŸlantÄ± zaten kapalÄ±.")

---

## **Ã–zet Tablosu**

### SQL KomutlarÄ±

| Komut | AÃ§Ä±klama | Ã–rnek |
|-------|----------|-------|
| `CREATE TABLE` | Tablo oluÅŸtur | `CREATE TABLE tablo (sutun TIP)` |
| `INSERT INTO` | Veri ekle | `INSERT INTO tablo VALUES (?)` |
| `SELECT` | Veri oku | `SELECT * FROM tablo WHERE kosul` |
| `UPDATE` | Veri gÃ¼ncelle | `UPDATE tablo SET sutun = ? WHERE kosul` |
| `DELETE FROM` | Veri sil | `DELETE FROM tablo WHERE kosul` |

### Python sqlite3 MetotlarÄ±

| Metot | AÃ§Ä±klama |
|-------|----------|
| `connect()` | Veri tabanÄ±na baÄŸlan |
| `cursor()` | Ä°mleÃ§ oluÅŸtur |
| `execute()` | SQL komutunu Ã§alÄ±ÅŸtÄ±r |
| `executemany()` | Ã‡oklu komut Ã§alÄ±ÅŸtÄ±r |
| `fetchone()` | Tek satÄ±r al |
| `fetchall()` | TÃ¼m satÄ±rlarÄ± al |
| `commit()` | DeÄŸiÅŸiklikleri kaydet |
| `close()` | BaÄŸlantÄ±yÄ± kapat |

In [ ]:
# ============================================================================
# ALIÅžTIRMA GÃ–REVLERÄ° â€“ Veri TabanÄ± Ä°ÅŸlemleri (SQLite)
# ============================================================================
# AÅŸaÄŸÄ±daki gÃ¶revleri verilen yÃ¶nergelere gÃ¶re tamamlayÄ±nÄ±z.
# ??? iÅŸaretlerinin yerine doÄŸru kodlarÄ± yazÄ±nÄ±z.
# ============================================================================

import sqlite3



# ============================================================================
# ðŸŸ© GÃ–REV 1: Veri tabanÄ± baÄŸlantÄ±sÄ± ve imleÃ§ oluÅŸturma
# ============================================================================
# "gorev.db" adlÄ± veri tabanÄ±na baÄŸlanÄ±n ve imleÃ§ oluÅŸturun.
# BaÄŸlantÄ± ve imleÃ§ tiplerini yazdÄ±rÄ±n.
#
# Ä°pucu: vt = sqlite3.connect('ornek.db') ve im = vt.cursor() Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# vt = sqlite3.connect(???)
# im = vt.???()
# print(f"BaÄŸlantÄ± tipi: {type(vt)}")
# print(f"Ä°mleÃ§ tipi: {type(im)}")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 2: Tablo oluÅŸturma (CREATE TABLE)
# ============================================================================
# "ogrenciler" tablosu oluÅŸturun:
# no (INTEGER PRIMARY KEY), ad (TEXT NOT NULL), bolum (TEXT), puan (REAL)
#
# Ä°pucu: CREATE TABLE IF NOT EXISTS personel (no INTEGER PRIMARY KEY, ...) Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# sql = """
# CREATE TABLE IF NOT EXISTS ogrenciler (
#     no INTEGER ???,
#     ad TEXT ???,
#     bolum ???,
#     puan ???
# )
# """
# im.execute(???)
# vt.commit()
# print("Tablo oluÅŸturuldu!")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 3: Tek kayÄ±t ekleme (INSERT)
# ============================================================================
# ogrenciler tablosuna parametreli sorgu ile tek bir kayÄ±t ekleyin:
# (1, "Ali YÄ±lmaz", "Bilgisayar", 85.5)
#
# Ä°pucu: im.execute("INSERT INTO ... VALUES (?,?,?,?)", (no, isim, ...)) Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# sql = "INSERT INTO ogrenciler (no, ad, bolum, puan) VALUES (?, ?, ?, ?)"
# im.execute(???, (1, "Ali YÄ±lmaz", "Bilgisayar", 85.5))
# vt.???()
# print("KayÄ±t eklendi!")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 4: Ã‡oklu kayÄ±t ekleme (executemany)
# ============================================================================
# executemany() ile aÅŸaÄŸÄ±daki 4 kaydÄ± ekleyin:
# (2, "AyÅŸe Kaya", "Elektrik", 92.0)
# (3, "Mehmet Demir", "Bilgisayar", 78.5)
# (4, "Fatma Ã‡elik", "Makine", 88.0)
# (5, "Veli Åžahin", "Elektrik", 65.0)
#
# Ä°pucu: im.executemany(sql, veriler) Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# veriler = [
#     (2, "AyÅŸe Kaya", "Elektrik", 92.0),
#     (3, "Mehmet Demir", "Bilgisayar", 78.5),
#     (4, "Fatma Ã‡elik", "Makine", 88.0),
#     (5, "Veli Åžahin", "Elektrik", 65.0)
# ]
# sql = "INSERT INTO ogrenciler (no, ad, bolum, puan) VALUES (?, ?, ?, ?)"
# im.???(sql, veriler)
# vt.commit()
# print(f"{len(veriler)} kayÄ±t eklendi!")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 5: TÃ¼m verileri seÃ§me (SELECT *)
# ============================================================================
# ogrenciler tablosundaki tÃ¼m verileri seÃ§ip formatlÄ± yazdÄ±rÄ±n.
#
# Ä°pucu: im.execute("SELECT * FROM personel") ve im.fetchall() Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# im.execute("SELECT * FROM ???")
# veriler = im.???()
# print(f"{'No':<5} {'Ad':<20} {'BÃ¶lÃ¼m':<15} {'Puan':<8}")
# print("-" * 50)
# for v in veriler:
#     print(f"{v[0]:<5} {v[1]:<20} {v[2]:<15} {v[3]:<8.1f}")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 6: KoÅŸullu seÃ§im (WHERE)
# ============================================================================
# PuanÄ± 80'den yÃ¼ksek olan Ã¶ÄŸrencileri seÃ§in.
# BÃ¶lÃ¼mÃ¼ "Bilgisayar" olan Ã¶ÄŸrencileri seÃ§in.
#
# Ä°pucu: im.execute("SELECT ... WHERE yas < 30") Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# im.execute("SELECT ad, puan FROM ogrenciler WHERE puan > ???")
# print("PuanÄ± 80+ olanlar:")
# for v in im.fetchall():
#     print(f"  {v[0]} - {v[1]}")
#
# im.execute("SELECT ad, bolum FROM ogrenciler WHERE bolum = ???", (???,))
# print("\nBilgisayar bÃ¶lÃ¼mÃ¼:")
# for v in im.fetchall():
#     print(f"  {v[0]}")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 7: SÄ±ralama ve limit (ORDER BY, LIMIT)
# ============================================================================
# Puana gÃ¶re azalan sÄ±rada ilk 3 Ã¶ÄŸrenciyi seÃ§in.
#
# Ä°pucu: ORDER BY maas DESC LIMIT 3 Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# im.execute("""
#     SELECT ad, puan FROM ogrenciler
#     ORDER BY ??? DESC
#     LIMIT ???
# """)
# print("En yÃ¼ksek 3 puan:")
# for i, v in enumerate(im.fetchall(), 1):
#     print(f"  {i}. {v[0]} - {v[1]}")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 8: SQL fonksiyonlarÄ± (COUNT, AVG, MIN, MAX)
# ============================================================================
# Toplam Ã¶ÄŸrenci sayÄ±sÄ±, ortalama puan, en dÃ¼ÅŸÃ¼k ve en yÃ¼ksek puanÄ± bulun.
#
# Ä°pucu: SELECT COUNT(*), AVG(maas), MIN(yas), MAX(yas) Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# im.execute("SELECT COUNT(*) FROM ogrenciler")
# print(f"Toplam Ã¶ÄŸrenci: {im.fetchone()[0]}")
# im.execute("SELECT ???(puan) FROM ogrenciler")
# print(f"Ortalama puan: {im.fetchone()[0]:.2f}")
# im.execute("SELECT ???(puan), ???(puan) FROM ogrenciler")
# sonuc = im.fetchone()
# print(f"En dÃ¼ÅŸÃ¼k: {sonuc[0]}, En yÃ¼ksek: {sonuc[1]}")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 9: Veri gÃ¼ncelleme (UPDATE)
# ============================================================================
# no=3 olan Ã¶ÄŸrencinin puanÄ±nÄ± 82.0 olarak gÃ¼ncelleyin.
# GÃ¼ncellenen kaydÄ± kontrol edin.
#
# Ä°pucu: UPDATE personel SET maas = ? WHERE no = ? Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# im.execute("UPDATE ogrenciler SET ??? = ? WHERE ??? = ?", (82.0, 3))
# vt.commit()
# print(f"{im.rowcount} kayÄ±t gÃ¼ncellendi!")
# im.execute("SELECT * FROM ogrenciler WHERE no = ?", (3,))
# print(f"GÃ¼ncel kayÄ±t: {im.fetchone()}")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 10: Veri silme (DELETE)
# ============================================================================
# no=5 olan Ã¶ÄŸrenciyi silin. Kalan kayÄ±tlarÄ± listeleyin.
#
# Ä°pucu: DELETE FROM personel WHERE isim = ? Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# im.execute("DELETE FROM ogrenciler WHERE ??? = ?", (???,))
# vt.commit()
# print(f"{im.rowcount} kayÄ±t silindi!")
# im.execute("SELECT no, ad FROM ogrenciler")
# print(f"Kalan: {im.fetchall()}")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 11: with ifadesi ile gÃ¼venli kullanÄ±m
# ============================================================================
# with ifadesi ile "gorev.db" ye baÄŸlanÄ±p tÃ¼m Ã¶ÄŸrencileri listeleyin.
#
# Ä°pucu: with sqlite3.connect('ornek.db') as vt: im = vt.cursor() Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# with sqlite3.connect(???) as vt:
#     im = vt.???()
#     im.execute("SELECT * FROM ogrenciler")
#     for v in im.fetchall():
#         print(v)
# print("BaÄŸlantÄ± otomatik kapandÄ±.")

In [ ]:
# ============================================================================
# ðŸŸ© GÃ–REV 12: Pratik Ã–rnek â€“ Basit kayÄ±t sistemi
# ============================================================================
# KayitSistemi sÄ±nÄ±fÄ± tanÄ±mlayÄ±n:
# - __init__: db baÄŸlantÄ±sÄ± ve tablo oluÅŸturma (kitaplar: id, baslik, yazar, yil)
# - ekle(baslik, yazar, yil): Kitap ekle
# - listele(): TÃ¼m kitaplarÄ± listele
# 3 kitap ekleyip listeleyin.
#
# Ä°pucu: class UrunYonetimi: def __init__(self, db): ... def urun_ekle(...): ... Ã¶rneÄŸindeki gibi yapÄ±nÄ±z.
# ------------------------------------------------------------

# class KayitSistemi:
#     def __init__(self, db):
#         self.db = db
#         with sqlite3.connect(self.db) as vt:
#             vt.execute("""
#                 CREATE TABLE IF NOT EXISTS kitaplar (
#                     id INTEGER PRIMARY KEY AUTOINCREMENT,
#                     baslik TEXT NOT NULL,
#                     yazar TEXT,
#                     yil INTEGER
#                 )
#             """)
#     def ekle(self, baslik, yazar, yil):
#         with sqlite3.connect(self.db) as vt:
#             vt.execute("INSERT INTO kitaplar (baslik, yazar, yil) VALUES (?,?,?)",
#                        (baslik, yazar, yil))
#         print(f"'{baslik}' eklendi!")
#     def listele(self):
#         with sqlite3.connect(self.db) as vt:
#             im = vt.execute("SELECT * FROM kitaplar")
#             for k in im.fetchall():
#                 print(f"  [{k[0]}] {k[1]} - {k[2]} ({k[3]})")
#
# ks = KayitSistemi("kutuphane.db")
# ks.ekle("Python 101", "ZÃ¼ber DoÄŸan", 2025)
# ks.ekle("Veri Bilimi", "Ali YÄ±lmaz", 2024)
# ks.ekle("SQL Temelleri", "AyÅŸe Kaya", 2023)
# ks.listele()

In [ ]:
# ============================================================================
# ðŸŸ¨ CEVAP ANAHTARI â€“ Veri TabanÄ± Ä°ÅŸlemleri (SQLite)
# ============================================================================
# YukarÄ±daki gÃ¶revlerin tamamlanmÄ±ÅŸ Ã§Ã¶zÃ¼mleri aÅŸaÄŸÄ±da verilmiÅŸtir.
# ============================================================================

import sqlite3



# ============================================================================
# ðŸŸ¨ CEVAP 1: Veri tabanÄ± baÄŸlantÄ±sÄ± ve imleÃ§ oluÅŸturma
# ============================================================================
vt = sqlite3.connect('gorev.db')
im = vt.cursor()
print(f"BaÄŸlantÄ± tipi: {type(vt)}")
print(f"Ä°mleÃ§ tipi: {type(im)}")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 2: Tablo oluÅŸturma (CREATE TABLE)
# ============================================================================
sql = """
CREATE TABLE IF NOT EXISTS ogrenciler (
    no INTEGER PRIMARY KEY,
    ad TEXT NOT NULL,
    bolum TEXT,
    puan REAL
)
"""
im.execute(sql)
vt.commit()
print("Tablo oluÅŸturuldu!")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 3: Tek kayÄ±t ekleme (INSERT)
# ============================================================================
sql = "INSERT INTO ogrenciler (no, ad, bolum, puan) VALUES (?, ?, ?, ?)"
im.execute(sql, (1, "Ali YÄ±lmaz", "Bilgisayar", 85.5))
vt.commit()
print("KayÄ±t eklendi!")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 4: Ã‡oklu kayÄ±t ekleme (executemany)
# ============================================================================
veriler = [
    (2, "AyÅŸe Kaya", "Elektrik", 92.0),
    (3, "Mehmet Demir", "Bilgisayar", 78.5),
    (4, "Fatma Ã‡elik", "Makine", 88.0),
    (5, "Veli Åžahin", "Elektrik", 65.0)
]
sql = "INSERT INTO ogrenciler (no, ad, bolum, puan) VALUES (?, ?, ?, ?)"
im.executemany(sql, veriler)
vt.commit()
print(f"{len(veriler)} kayÄ±t eklendi!")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 5: TÃ¼m verileri seÃ§me (SELECT *)
# ============================================================================
im.execute("SELECT * FROM ogrenciler")
veriler = im.fetchall()
print(f"{'No':<5} {'Ad':<20} {'BÃ¶lÃ¼m':<15} {'Puan':<8}")
print("-" * 50)
for v in veriler:
    print(f"{v[0]:<5} {v[1]:<20} {v[2]:<15} {v[3]:<8.1f}")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 6: KoÅŸullu seÃ§im (WHERE)
# ============================================================================
im.execute("SELECT ad, puan FROM ogrenciler WHERE puan > 80")
print("PuanÄ± 80+ olanlar:")
for v in im.fetchall():
    print(f"  {v[0]} - {v[1]}")

im.execute("SELECT ad, bolum FROM ogrenciler WHERE bolum = ?", ("Bilgisayar",))
print("\nBilgisayar bÃ¶lÃ¼mÃ¼:")
for v in im.fetchall():
    print(f"  {v[0]}")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 7: SÄ±ralama ve limit (ORDER BY, LIMIT)
# ============================================================================
im.execute("""
    SELECT ad, puan FROM ogrenciler
    ORDER BY puan DESC
    LIMIT 3
""")
print("En yÃ¼ksek 3 puan:")
for i, v in enumerate(im.fetchall(), 1):
    print(f"  {i}. {v[0]} - {v[1]}")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 8: SQL fonksiyonlarÄ± (COUNT, AVG, MIN, MAX)
# ============================================================================
im.execute("SELECT COUNT(*) FROM ogrenciler")
print(f"Toplam Ã¶ÄŸrenci: {im.fetchone()[0]}")
im.execute("SELECT AVG(puan) FROM ogrenciler")
print(f"Ortalama puan: {im.fetchone()[0]:.2f}")
im.execute("SELECT MIN(puan), MAX(puan) FROM ogrenciler")
sonuc = im.fetchone()
print(f"En dÃ¼ÅŸÃ¼k: {sonuc[0]}, En yÃ¼ksek: {sonuc[1]}")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 9: Veri gÃ¼ncelleme (UPDATE)
# ============================================================================
im.execute("UPDATE ogrenciler SET puan = ? WHERE no = ?", (82.0, 3))
vt.commit()
print(f"{im.rowcount} kayÄ±t gÃ¼ncellendi!")
im.execute("SELECT * FROM ogrenciler WHERE no = ?", (3,))
print(f"GÃ¼ncel kayÄ±t: {im.fetchone()}")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 10: Veri silme (DELETE)
# ============================================================================
im.execute("DELETE FROM ogrenciler WHERE no = ?", (5,))
vt.commit()
print(f"{im.rowcount} kayÄ±t silindi!")
im.execute("SELECT no, ad FROM ogrenciler")
print(f"Kalan: {im.fetchall()}")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 11: with ifadesi ile gÃ¼venli kullanÄ±m
# ============================================================================
vt.close()  # Ã–nceki baÄŸlantÄ±yÄ± kapat

with sqlite3.connect('gorev.db') as vt:
    im = vt.cursor()
    im.execute("SELECT * FROM ogrenciler")
    for v in im.fetchall():
        print(v)
print("BaÄŸlantÄ± otomatik kapandÄ±.")

print(f"\n{'-'*82}\n")




# ============================================================================
# ðŸŸ¨ CEVAP 12: Pratik Ã–rnek â€“ Basit kayÄ±t sistemi
# ============================================================================
class KayitSistemi:
    def __init__(self, db):
        self.db = db
        with sqlite3.connect(self.db) as vt:
            vt.execute("""
                CREATE TABLE IF NOT EXISTS kitaplar (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    baslik TEXT NOT NULL,
                    yazar TEXT,
                    yil INTEGER
                )
            """)
    def ekle(self, baslik, yazar, yil):
        with sqlite3.connect(self.db) as vt:
            vt.execute("INSERT INTO kitaplar (baslik, yazar, yil) VALUES (?,?,?)",
                       (baslik, yazar, yil))
        print(f"'{baslik}' eklendi!")
    def listele(self):
        with sqlite3.connect(self.db) as vt:
            im = vt.execute("SELECT * FROM kitaplar")
            for k in im.fetchall():
                print(f"  [{k[0]}] {k[1]} - {k[2]} ({k[3]})")

ks = KayitSistemi("kutuphane.db")
ks.ekle("Python 101", "ZÃ¼ber DoÄŸan", 2025)
ks.ekle("Veri Bilimi", "Ali YÄ±lmaz", 2024)
ks.ekle("SQL Temelleri", "AyÅŸe Kaya", 2023)
ks.listele()