# **1. Python'a Giriş**

Bu derste Python programlama diline giriş yapacağız. Print fonksiyonu, tırnak kullanımı ve temel veri tiplerini öğreneceğiz.

## **1.1 Print Fonksiyonu**

Python'da ekrana çıktı vermek için `print()` fonksiyonu kullanılır.

In [ ]:
# Ekrana metin yazdırma
print("Merhaba Dünya!")

In [ ]:
# Birden fazla değer yazdırma
print("Python", "Programlama", "Dersi")

## **1.2 Tırnak Kullanımı**

Python'da metin (string) tanımlamak için tek tırnak, çift tırnak veya üç tırnak kullanılabilir.

In [ ]:
# Tek tırnak kullanımı
print('Merhaba Python')

In [ ]:
# Çift tırnak içinde tek tırnak
print("yeni başlangıçlar'güzeldir'")

In [ ]:
# Tek tırnak içinde çift tırnak
print('Python programlama dilinin adı "piton" yılanından gelmez')

In [ ]:
# Üç tırnak - çok satırlı metin
print("""Bu bir
çok satırlı
metin örneğidir.""")

## **1.3 Veri Tipleri**

Python'da temel veri tipleri:
- **string (str)**: Karakter dizisi
- **integer (int)**: Tam sayı
- **float**: Ondalıklı sayı

In [ ]:
# String (Karakter Dizisi)
isim = "Züber Doğan"
print(isim)
print(type(isim))

In [ ]:
# Integer (Tam Sayı)
yil = 1978
print(yil)
print(type(yil))

In [ ]:
# Float (Ondalıklı Sayı)
kilo = 73.3
print(kilo)
print(type(kilo))

## **1.4 type() ve len() Fonksiyonları**

In [ ]:
# type() - Veri tipini gösterir
print(type("Merhaba"))  # str
print(type(42))         # int
print(type(3.14))       # float

In [ ]:
# len() - Karakter sayısını verir
metin = "firat_ozgul_1980"
print(len(metin))  # 16 karakter

In [ ]:
# Sayıları karakter dizisine çevirip uzunluğunu bulma
sayi = 12343423432
print(len(str(sayi)))  # 11 basamak

## **1.5 Print Özel Parametreleri**

In [ ]:
# sep parametresi - değerler arasına ayraç koyar
print("Adana", "Mersin", sep="-")

In [ ]:
# Alt satıra geçme
print("Adana", "Mersin", sep="\n")

In [ ]:
# end parametresi - satır sonuna karakter ekler
print("Bugün günlerden Salı", end=".\n")

---

## **Özet**

Bu derste öğrendiklerimiz:
- `print()` fonksiyonu ile ekrana çıktı verme
- Tek, çift ve üç tırnak kullanımı
- Temel veri tipleri: `str`, `int`, `float`
- `type()` ve `len()` fonksiyonları
- Print parametreleri: `sep` ve `end`